<!DOCTYPE html>
<html lang="PT-BR"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nossa Cozinha - O lugar certo para você encontrar as melhores receitas!">
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/header.css" media="all">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


    <% if(currentPage === 'home' || currentPage === 'myRecipes' ) { %>
        <link rel="stylesheet" type="text/css" href="/assets/css/main-style.css" media="all">
        <link rel="stylesheet" type="text/css" href="/assets/css/media-queries/main-style-mq-768.css"
            media="screen and (max-width: 768px)">
        <link rel="stylesheet" type="text/css" href="/assets/css/media-queries/main-style-mq-468.css"
            media="screen and (max-width: 468px)">
        <title>Home - Nossa Cozinha</title>
  
    <% } %>

    <% if(currentPage === 'login') { %>

    <link rel="stylesheet" href="/assets/css/login-style.css">
    <title>Nossa Cozinha - Faça Login</title>

    <% } %>

    <% if(currentPage === 'recipe') { %>

        <link rel="stylesheet" href="/assets/css/recipe.css">
        <title>Nossa Cozinha - Receitas</title>

    <% } %>

    <% if(currentPage === 'sign-in') { %>

        <title>Nossa Cozinha - Cadastre-se</title>
        <link rel="stylesheet" href="/assets/css/sign-in.css" media="all">
        <link rel="stylesheet" href="/assets/css/media-queries/signin-style-mq-468.css" media="screen and (max-width: 468px)">
    
    <% } %>

    <% if(currentPage === 'explorer' || currentPage === 'search') { %>

        <link rel="stylesheet" href="/assets/css/explorer-style.css" media="all">
        <link rel="stylesheet" href="/assets/css/media-queries/explorer-style-mq-768.css" media="screen and (max-width: 768px)">
        <link rel="stylesheet" href="/assets/css/media-queries/explorer-style-mq-468.css" media="screen and (max-width: 468px)">
    
    <% } %>

    <% if(currentPage === 'explorer') { %>

        <link rel="stylesheet" href="/assets/css/explorer-style.css" media="all">
        <link rel="stylesheet" href="/assets/css/media-queries/explorer-style-mq-768.css" media="screen and (max-width: 768px)">
        <link rel="stylesheet" href="/assets/css/media-queries/explorer-style-mq-468.css" media="screen and (max-width: 468px)">
        <title>Explorar - Nossa Cozinha</title>
    
    <% } %>

    <% if(currentPage === 'search') { %>
        <title>Busca - Nossa Cozinha</title>
    <% } %>

    <% if(currentPage === 'kitchen') { %>

        <link rel="stylesheet" href="/assets/css/kitchen.css">
        <title>Minha Cozinha</title>
    
        <% } %>


        <% if(currentPage === '404') { %>

            <link rel="stylesheet" href="/assets/css/404.css">
            <title>Erro 404! | Página não encontrada</title>
        
            <% } %>

</head>