@import url(./reset.css);

*{
    box-sizing: border-box;
}

.login-screen-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    /*width: 100%; */
} 

.error-404{
    padding-top: 10rem;
    text-align: center;
    font-size: 7rem;
    text-shadow:rgba(0, 0, 0, 0.849);
    color: var(--cor4);
}

.information-erro{
    padding: 6rem;
    text-align: center;
    font-size: 1.7rem;
    text-shadow:rgba(0, 0, 0, 0.849);
    color: var(--cor4);
    
}

.login-screen{
    display: block;
    height: 55rem;
    width: 50rem;
    padding: 2.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.37);
    border-radius: 1rem;
    box-shadow: 0.6rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.932);
    backdrop-filter: blur(0.5rem);
}