@import url('reset.css');

*{
   box-sizing: border-box;
}

body{
    background-color: var(--cor1);
}

.main-content-container{
    display: flex;
    flex-flow:column;
    margin-top: 1rem;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem auto;
    row-gap: 0.6rem;
    height: auto;
}

.main-section{
    display: grid;
    width: 98%;
    height: 50%; 
    box-sizing: border-box;
    padding: 1.5rem;
    background-color: white;
    backdrop-filter: blur(0.2rem);
    border-radius: 0.5rem;
    border: 0.2rem solid var(--cor4);
}

.main-section a{
    text-decoration: none;
    color: black;
}

.main-section a:hover{
    text-decoration: underline;
}

.title{
    color: var(--cor4);
    font-size: 4rem;
    justify-self: center;
    align-self: center;
    margin: 1.5rem;
}

.filter-container{
    align-self: center;
    justify-self: end;
    margin: 1.5rem 0rem;
}

.post-list-container{
    display: flex;
    box-sizing: border-box;
    gap: 1.5rem;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
    align-items: space-around;
    justify-content: center;
    justify-self: center; 
}

select{
    border: 0.1rem solid var(--cor4);
    padding: 0.3rem;
    border-radius: 0.5rem;
}

label{
    align-self: center;
    font-size: 2rem;
}

select:focus{
    outline: none;
}

.post-content{
    display: grid;
    grid-template-rows: repeat(23, 1fr);
    grid-template-columns: 1fr;
    background-color: var(--cor0);
    height: 50rem;
    max-width: 40rem;
    min-width: 30rem;
    border: 0.1rem solid salmon;
    border-radius: 1rem;
    box-sizing: border-box;
}

.post-content-header{
    display: grid;
    grid-row: span 3;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    height: 12rem;
    width: 100%;
    padding: 1rem;
    background-color: var(--cor3);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    box-shadow: 0px 0.3rem 0.5rem rgba(0, 0, 0, 0.404);
    box-sizing: border-box;
    z-index: 3;
}

.post-title{
    grid-column-start: 1;
    grid-column-end: 12;
    font-size: 2.3rem;
}

.post-author{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 1.5rem;
}

.post-description{
    overflow-y: hidden;
}

.post-content p{
    grid-row-start: 4;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 12;
    line-height: 1em;
    font-size: 1.5rem;
}

.post-img-container{
    grid-row: span 19;
    height: 100%;
    width: 100%;
}

.post-img-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-content-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--cor3);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    /* height: fit-content; */
    min-height: 5rem;
}

.pagination-container{
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
}

.pagination-container ul{
    display: flex;
    list-style-type: none;
    column-gap: 1rem;
    text-decoration: underline;
    font-size: 2rem;
    color: var(--cor4);
}

.pagination-container ul a{
    text-decoration: none;
    font-size: 2rem;
    color: var(--cor4);
}

#anchor-top{
    position: fixed;
    top: 90%;
    left: 86%;
    background-color: black;
    background-image: url(../images/seta-ancora.jpg);
    background-position: top center;
    background-size: cover;
    width: 5rem;
    height: 5rem;
    color: white;
    border-radius: 5rem;
}

#anchor-top:hover{
    cursor: pointer;
    transform: translate(0, -0.4rem);
    transition: 100ms;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.589);
}

.post-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

form button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

form i{
    color: white;
    font-size: 2.3em;
    transition: 0.5s;
}