@import url("reset.css");

*{
  box-sizing: border-box;
}

body {
  background-color: var(--cor1);
}

.titlePage {
  color: var(--cor4);
  font-size: 4rem;
  text-align: center;
}

.title {
  color: var(--cor4);
  font-size: 4rem;
  text-align: center;
  padding-top: 1.5rem;
}

.recipe-form {
  display: flex;
  flex-flow: column;
  row-gap: 0.5rem;
}

.imageFile {
  text-indent: 0;
}

.recipe-form {
  display: flex;
  flex-flow: column;
  row-gap: 5rem;
}

.main-content-container {
  display: flex;
  padding: 2rem;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  width: 100%;
}

.share-recipe-container {
  height: auto;
  width: 90%;
  padding: 1.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.37);
  border-radius: 1rem;
  box-shadow: 0.6rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.932);
  backdrop-filter: blur(0.5rem);
}

form > fieldset {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  row-gap: 2.5rem;
  border: none;
}

input {
  text-indent: 1rem;
}

.input-field {
  align-self: center;
  width: 100%;
  height: 5rem;
  border-radius: 0.5rem;
  border: none;
  font-family: var(--fonte-padrao);
  font-size: 1.7rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.616);
}

.input-field:focus {
  outline: none;
}

.submit-button {
  align-self: first baseline;
  border: 0.1rem solid rgba(0, 0, 0, 0.329);
  font-family: var(--fonte-padrao);
  font-size: 1.8rem;
  color: black;
  background-color: #eb6a50cb;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.4rem 0.3rem 1rem rgba(0, 0, 0, 0.548);
}

.submit-button:hover {
  cursor: pointer;
  background-color: var(--cor1);
  transform: translate(-0.1rem, -0.1rem);
  transition: 100ms;
}

.form-buttons {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-self: center;
  column-gap: 1.5rem;
}

.my-recipes,
.recipes {
  height: 4.9rem;
  width: 16rem;
  box-sizing: border-box;
  display: block;
  align-items: center;
  align-self: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.329);
  font-family: var(--fonte-padrao);
  font-size: 1.8rem;
  color: black;
  background-color: #eb6a50cb;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.4rem 0.3rem 1rem rgba(0, 0, 0, 0.548);
  text-decoration: none;
} 

.ingredients {
  height: 10rem;
}

.preparationMethod {
  height: 15rem;
}

.shortDescription {
  height: 7.5rem;
}

textarea {
  box-sizing: border-box;
  padding: 0.5rem;
  resize: none;
  padding: 1rem;
}

div.error {
  color: red;
  text-align: center;
  font-size: 1.5rem;
}

div.success {
  color: rgb(22, 194, 22);
  text-align: center;
  font-size: 1.5rem;
}
