@import url('reset.css');


html, body{
<<<<<<<< Updated upstream:styles/login-style.css
    font-family: var(--fonte-padrao);
    background-image: url("../images/fundo-do-body.jpg");
========
    background-image: url("../images/fundo02.jpg");
>>>>>>>> Stashed changes:public/assets/css/login-style.css
    background-color: var(--cor1);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
}


.login-screen-container{
    position: relative;
    height: 98vh;
    width: 98vw;
}

.login-screen{
<<<<<<<< Updated upstream:styles/login-style.css
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    height: 300px;
========
    display: flex;
    flex-flow:column ;
    align-items: center;
    row-gap: 30px;
    height: 370px;
>>>>>>>> Stashed changes:public/assets/css/login-style.css
    width: 300px;
    padding: 25px;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 10px;
    box-shadow: 6px 5px 7px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.932);
    backdrop-filter: blur(5px);
}

.login-title{
    padding-top: 30px;
    text-align: center;
    font-size: 3em;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.849);
    color: var(--cor4);
    
}

.user-input-field{
    position: absolute;
    top: 40%;
    left: 25%;
    height: 30px;
    border: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--cor4);
    text-indent: 10px;
    font-family: var(--fonte-padrao);
    font-size: 1em;
}
.user-input-field::placeholder{
    color: black;
}


.passwd-input-field{
    position: absolute;
    top: 55%;
    left: 25%;
    height: 30px;
    border: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--cor4);
    text-indent: 10px;
    font-family: var(--fonte-padrao);
    font-size: 1em;
}


.passwd-input-field::placeholder{
    color: black;
}

.voltar-button{
    position: absolute;
    top: 8%;
    left: 5%;
    height: 50px;
    width: 50px;
    border-radius: 25px; 
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.726);
}

.voltar-button:hover{
    transform: translate(+2%, +2%);
    
}

.login-button{
    position: absolute;
    top: 70%;
    left: 38%;
    height: 50px;
    width: 75px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: black;
    background-color: #eb6a50cb;
    border-radius: 5px;
    box-shadow: 4px 3px 10px rgba(0, 0, 0, 0.548);
}

.login-button:hover{
    cursor: pointer;
    background-color: var(--cor1);
    transform: translate(-1%, -1%);
    transition: 100ms;
}

.forgot-pass{
    position: absolute;
    top: 90%;
    left: 31%;
    color: black;
    transform: translate(-31% -90%);
    text-decoration: none;
    text-shadow: 5px 5px 5px black;
}

.forgot-pass:hover{
    text-decoration: underline;
}

<<<<<<<< Updated upstream:styles/login-style.css
========
.signin{
    display: block;
    color: black;
    transform: translate(-31% -90%);
    text-decoration: none;
}

.signin:hover{
    text-decoration: underline;
}


div.error{
    color:red;
    text-align: center;
}
div.success{
    color: rgb(22, 194, 22);
    text-align: center;
}
>>>>>>>> Stashed changes:public/assets/css/login-style.css
