@import url('reset.css');

*{
    box-sizing: border-box;
}

html, body{
    background-image: url("../images/fundo02.jpg");
    background-color: var(--cor1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    width: 100vw;
}

.login-screen-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.login-screen{
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 2rem;
    height: 40rem;
    width: 30rem;
    padding: 2.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.37);
    border-radius: 1rem;
    box-shadow: 0.6rem 0.5rem 0.7rem rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.932);
    backdrop-filter: blur(0.5rem);
}

form{
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 2.5rem;
}

form > fieldset{
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 2.5rem;
    border: none;
}

.login-title{
    padding-top: 3rem;
    text-align: center;
    font-size: 4rem;
    color: var(--cor4);
}

.user-input-field{
    display: block;
    height: 3rem;
    border: none;
    background-color: transparent;
    border-bottom: 0.2rem solid var(--cor4);
    text-indent: 1rem;
    font-family: var(--fonte-padrao);
    font-size: 1.5rem;
}

.user-input-field::placeholder{
    color: black;
}

.passwd-input-field{
    display: block;
    height: 3rem;
    border: none;
    background-color: transparent;
    border-bottom: 0.2rem solid var(--cor4);
    text-indent: 1rem;
    font-family: var(--fonte-padrao);
    font-size: 1.5rem;
}

.passwd-input-field:focus, .user-input-field:focus{
    outline: none;
}

.passwd-input-field::placeholder{
    color: black;
}

.voltar-button{
    position: fixed;
    top: 7%;
    left: 7%;
}

.voltar-button-img{
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem; 
    box-shadow: 0.4rem 0.3rem 1rem rgba(0, 0, 0, 0.726);
}

.voltar-button:hover{
    transform: translate(+0.2rem, +0.2rem);
}

.login-button{
    display: block;
    height: 5rem;
    width: 7.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.329);
    font-family: var(--fonte-padrao);
    font-size: 1.8rem;
    color: black;
    background-color: #eb6a50cb;
    border-radius: 0.5rem;
    box-shadow: 0.4rem 0.3rem 1rem rgba(0, 0, 0, 0.548);
}

.login-button:hover{
    cursor: pointer;
    background-color: var(--cor1);
    transform: translate(-0.1rem, -0.1rem);
    transition: 100ms;
}

aside{
    display: flex;
    flex-flow: column;
    row-gap: 1rem;
    align-items: center;
    height: 7rem;
}

.forgot-pass{
    display: block;
    color: black;
    transform: translate(-3.1rem, -9rem);
    text-decoration: none;
}

.forgot-pass:hover{
    text-decoration: underline;
}

.signin{
    display: block;
    color: black;
    /* transform: translate(3.1rem, 0.9rem);  */
    text-decoration: none;
    font-size: 1.4rem;
}

.signin:hover{
    text-decoration: underline;
}

div.error{
    color:red;
    text-align: center;
    font-size: 1.5rem;
}

div.success{
    color: rgb(22, 194, 22);
    text-align: center;
    font-size: 1.5rem;
}
