@import url('reset.css');

*{
    box-sizing: border-box;
}

html, body{
    background-image: url("../images/homepage-bg.webp");
    background-color: var(--cor1);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.main{
    position: relative;
    height: auto;
}

.main-content-container{
    display: flex;
    flex-flow:column;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem auto;
    row-gap: 0.6rem;
    width: 100%;
}

.main-section{
    display: grid;
    row-gap: 0.5rem;
    width: 50rem;
    height: 15rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.87);
    backdrop-filter: blur(0.2rem);
    border-radius: 0.5rem;
}

.main-section > h2{
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    color: var(--cor4);
}

.main-section form{
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
}

.search-button{
    background-color: var(--cor4);
    color: var(--cor0);
    width: 7rem;
    height: 4.5rem;
    padding: 1rem;
    border: 0.05rem solid rgba(0, 0, 0, 0.418);
    border-radius: 0.5rem;
}

.search-button:hover{
    cursor: pointer;
    background-color: #f58d55;
    border: 0.1rem solid --cor3;
    transform: translate(-0.05rem, -0.05rem);
    transition: 100ms;
}

.search-field{
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    align-self: center;
    text-indent: 1em;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    width: 30rem;
    height: 4.5rem;
}

.search-field:focus{
    outline: none;
    box-shadow: 0px 0px 1rem var(--cor4);
}

.content-box{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 50rem;
    height: 22rem;
    padding: 1.8rem;
    background-color: rgba(255, 255, 255, 0.87);
    backdrop-filter: blur(0.2rem);
    border-radius: 0.5rem;
}

.content-box > h2 {
    align-self: center;
    font-size: 2.3rem;
}

.content-box p {
    align-self: start;
    font-size: 1.5rem;
}

.content-box-footer{
    display: flex;
    height: 6rem;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--cor4);
    text-align: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

label{
    position: relative;
    box-sizing: border-box;
    width: 5rem;
    height: 5rem;
}

label:hover{
    cursor: pointer;
}

label input{
    appearance: none;
}

label span{
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

label i{
    color: white;
    font-size: 3.2rem;
    transition: 0.5s;
}

.content-box:hover{
    cursor: pointer;
    border: 0.1rem solid lightgray;
    transform: translate(-0.05rem, -0.05rem);
    backdrop-filter: none;
    transition: 200ms;
}

#anchor-top{
    position: fixed;
    top: 90%;
    left: 86%;
    background-color: black;
    background-image: url(../images/seta-ancora.jpg);
    background-position: top center;
    background-size: cover;
    width: 5rem;
    height: 5rem;
    color: white;
    border-radius: 5rem;
}

#anchor-top:hover{
    cursor: pointer;
    transform: translate(0, -0.4rem);
    transition: 100ms;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.589);
}

.footer{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor4);
    color: var(--cor0);
    height: 3vh;
    padding: 0.5rem;
    box-shadow: 1rem -px -0.1rem black;
}

.stickyFoot{
    position: fixed;
    bottom: 0;
    width: 100%;
}

main+.stickyFoot{
    padding-bottom: 10.2rem;
}