<%- include('./includes/head') %>
<%- include('./includes/header') %>
<body>
    <main class="login-screen-container">
        <div class="login-screen">
            <h1 class="error-404">404</h1>
            <h2 class="information-erro">
                Sentimos muito! A página solicitada não foi encontrada :(
            </h2>
        </div>
    </main>
</body>
</html>