<%- include('./includes/head') %>
<%- include('./includes/header') %>

<body>
    <span id="anchor"></span>
    <main id="main">
        <div class="main-content-container">
            <section class="main-section">
                <h1 class="title">Explorar</h1>
                <form class="filter-container" action="#">
                    <label for="filter">Filtros</label>
                    <select name="filter" id="filter">
                        <option value="AZ">A-Z</option>
                        <option value="recent">Mais Recentes</option>
                        <option value="bestRate">Melhor Avaliados</option>
                    </select >
                </form>
                <div class="post-list-container">
                    <div class="post-content">
                        <div class="post-content-header">
                            <h2 class="post-title">Torta de Frango</h2>
                            <a class="post-author" href="#">por vitor</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                        </div>
                        <div class="post-img-container">
                            <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                        </div>
                        <div class="post-content-footer"> footer</div>
                    </div>
                    <div class="post-content">
                        <div class="post-content-header">
                            <h2 class="post-title">Torta de Frango</h2>
                            <a class="post-author" href="#">por vitor</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                        </div>
                        <div class="post-img-container">
                            <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                        </div>
                        <div class="post-content-footer"> footer</div>
                    </div>
                    <div class="post-content">
                        <div class="post-content-header">
                            <h2 class="post-title">Torta de Frango</h2>
                            <a class="post-author" href="#">por vitor</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                        </div>
                        <div class="post-img-container">
                            <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                        </div>
                        <div class="post-content-footer"> footer</div>
                    </div>
                    <div class="post-content">
                        <div class="post-content-header">
                            <h2 class="post-title">Torta de Frango</h2>
                            <a class="post-author" href="#">por vitor</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                        </div>
                        <div class="post-img-container">
                            <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                        </div>
                        <div class="post-content-footer"> footer</div>
                    </div>
                    <div class="post-content">
                        <div class="post-content-header">
                            <h2 class="post-title">Torta de Frango</h2>
                            <a class="post-author" href="#">por vitor</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                        </div>
                        <div class="post-img-container">
                            <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                        </div>
                        <div class="post-content-footer"> footer</div>
                    </div>
                    <div class="post-content">
                        <div class="post-content-header">
                            <h2 class="post-title">Torta de Frango</h2>
                            <a class="post-author" href="#">por vitor</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                        </div>
                        <div class="post-img-container">
                            <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                        </div>
                        <div class="post-content-footer"> footer</div>
                    </div>
                    <div class="post-content">
                        <div class="post-content-header">
                            <h2 class="post-title">Torta de Frango</h2>
                            <a class="post-author" href="#">por vitor</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                        </div>
                        <div class="post-img-container">
                            <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                        </div>
                        <div class="post-content-footer"> footer</div>
                    </div>
                    <div class="post-content">
                        <div class="post-content-header">
                            <h2 class="post-title">Torta de Frango</h2>
                            <a class="post-author" href="#">por vitor</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                        </div>
                        <div class="post-img-container">
                            <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                        </div>
                        <div class="post-content-footer"> footer</div>
                    </div>
                    <div class="post-content">
                        <div class="post-content-header">
                            <h2 class="post-title">Torta de Frango</h2>
                            <a class="post-author" href="#">por vitor</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                        </div>
                        <div class="post-img-container">
                            <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                        </div>
                        <div class="post-content-footer"> footer</div>
                    </div>
                    <div class="post-content">
                        <div class="post-content-header">
                            <h2 class="post-title">Torta de Frango</h2>
                            <a class="post-author" href="#">por vitor</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                        </div>
                        <div class="post-img-container">
                            <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                        </div>
                        <div class="post-content-footer"> footer</div>
                    </div>
                    <div class="post-content">
                        <div class="post-content-header">
                            <h2 class="post-title">Torta de Frango</h2>
                            <a class="post-author" href="#">por vitor</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                        </div>
                        <div class="post-img-container">
                            <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                        </div>
                        <div class="post-content-footer"> footer</div>
                    </div>
                    <div class="post-content">
                        <div class="post-content-header">
                            <h2 class="post-title">Torta de Frango</h2>
                            <a class="post-author" href="#">por vitor</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                        </div>
                        <div class="post-img-container">
                            <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                        </div>
                        <div class="post-content-footer"> footer</div>
                    </div>
                       <div class="post-content">
                        <div class="post-content-header">
                            <h2 class="post-title">Torta de Frango</h2>
                            <a class="post-author" href="#">por vitor</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                        </div>
                        <div class="post-img-container">
                            <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                        </div>
                        <div class="post-content-footer"> footer</div>
                    </div>
                    <div class="post-content">
                        <div class="post-content-header">
                            <h2 class="post-title">Torta de Frango</h2>
                            <a class="post-author" href="#">por vitor</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                        </div>
                        <div class="post-img-container">
                            <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                        </div>
                        <div class="post-content-footer"> footer</div>
                    </div>
                    <div class="post-content">
                        <div class="post-content-header">
                            <h2 class="post-title">Torta de Frango</h2>
                            <a class="post-author" href="#">por vitor</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                        </div>
                        <div class="post-img-container">
                            <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                        </div>
                        <div class="post-content-footer"> footer</div>
                    </div>
                    <div class="post-content">
                        <div class="post-content-header">
                            <h2 class="post-title">Torta de Frango</h2>
                            <a class="post-author" href="#">por vitor</a>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                        </div>
                        <div class="post-img-container">
                            <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                        </div>
                        <div class="post-content-footer"> footer</div>
                    </div>
                    
                </div>
            </section>
        </div>
        <a><span id="anchor-top"></span></a>
    </main>
    <script type="text/javascript" src="assets/js/bundle.js"></script>
</body>
</html>