<!DOCTYPE html>
<%- include('./includes/head') %>
<body>
    <main class="login-screen-container">
        <a href="/"><img class="voltar-button" src="assets/images/seta-voltar.jpg" alt=""></a>
        <div class="login-screen">
            <h1 class="login-title">Login</h1>

            <%- include('./includes/messages') %>

            <form method="post" class="form-login">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <fieldset>
          
                    <input class="user-input-field" name="username" type="text"  placeholder="Usuário" required>
                    <input class="passwd-input-field" name="password" type="password"  placeholder="Senha" required>
                </fieldset>
                <button class="login-button" type="submit" value="Entrar">Entrar</button>
            </form>
            <aside>
                <a class="forgot-pass" href="forgot-pass">Esqueceu a senha?</a>
                <a class="signin" href="signin">Não tem uma conta? Cadastre-se!</a>
            </aside>
        </div>
    </main>
    <script src="/assets/js/bundle.js"></script>
</body>
</html>