<%- include('./includes/head'); %>
<%- include('./includes/header'); %>
<body>
    <span id="anchor"></span>
    <main id="main" tabindex="0">
        <div class="main-content-container">
            <section id="main-section" class="main-section">
                <h2>O que vamos cozinhar hoje?</h2>
                <form action="#">
                    <input class="search-field" name="search-field" type="search" placeholder="Ex: Bolo de rolo...">
                    <button class="search-button" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                      </svg>
                    </button>
                </form>
            </section>

            
            <div class="post-list-container">
                <div class="post-content">
                    <div class="post-content-header">
                        <h2 class="post-title">Torta de Frango</h2>
                        <a class="post-author" href="#">por vitor</a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque molestiae deleniti incidunt animi, laborum commodi, iusto repudiandae inventore dicta asperiores eaque.</p>
                    </div>
                    <div class="post-img-container">
                        <img src="https://guiadacozinha.com.br/wp-content/uploads/2019/10/torta-de-frango-de-liquidificador-receita.jpg" alt="">
                    </div>
                    <div class="post-content-footer"> footer</div>
                </div>
            </div>      
              
            <% recipes.forEach(recipes => {%>
            <section class="content-box">
                <h2><%= recipes.recipeTitle %></h2>
                <p><%= recipes.shortDescription %></p>
                <span class="content-box-footer"></span>
            </section>
            <% }); %>
            <a><span id="anchor-top"></span></a>
        </div>
    </main>
    <script type="text/javascript" src="/assets/js/bundle.js"></script>
    <footer class="footer stickyFoot">
        <p>Nossa cozinha, 2023</p>
    </footer>
</body>
