<!DOCTYPE html>
<%- include('./includes/head') %>
<body>
    <main class="signin-screen-container">
        <a href="/"><img class="voltar-button" src="assets/images/seta-voltar.jpg" alt=""></a>
        <div class="signin-screen">
            <h1 class="signin-title">Cadastre-se</h1>

            <%- include('./includes/messages')  %>
            
            <form action="/signin" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <fieldset>
                    <input class="input-field" name="name" type="text"  placeholder="Nome" required>

                    <input class="input-field" name="lastName" type="text"  placeholder="Sobrenome" required>

                    <input class="input-field" name="username" type="text"  placeholder="Nome de Usuário" required>

                    <input class="input-field" name="email" type="email" placeholder="E-mail" required>

                    <input class="input-field" name="password" type="password"  placeholder="Senha" required>

                    <input id="double-check-pass" class="input-field" name="passwordConf" type="password"  placeholder="Confirme sua senha" required>
                </fieldset>
                <button class="signin-button" type="submit">Cadastrar</button>
            </form>
            <a class="already-acount" href="login">Já possui uma conta?</a>
        </div>
    </main>
</body>
</html>
