

.main-section{
    width: 98%;
}


.post-content{
    height: 550px;
    width: 100%;
    padding: 15px;
    margin: 10px auto;
}

.post-content-header{
    display: grid;
    height: 150px;
    width: 100%;
}

.post-title{
    grid-column-start: 1;
    grid-column-end: 8;
}

.post-author{
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

.post-content p{
    grid-row-start: 4;
    grid-row-end: 12;
    grid-column-start: 1;
    grid-column-end: 12;
}

.post-img-container{
    height: 100%;
    width: 100%;
}

.post-img-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.post-content-footer{
    grid-row-start: 23;
    grid-row-end: 25;
   
}