
  .main-section>h2 {
      font-size: 1.3em;
  }

  .main-section {
      width: 70%;
  }

  .search-button {
      width: 50px;
  }

  .search-field {
      width: 250px;
  }

  .content-box {
      width: 70%;
  }

  .content-box p {
      height: 90px;
      overflow: hidden;
  }

  .content-box-footer {
      align-self: end;
      height: 40px;
  }
