.main-section > h2 {
    font-size: 1.3em; 
}

.main-section {
    width: 85%;
}

.search-button {
    width: 5rem; 
}

.search-field {
    width: 23rem; 
}

.content-box {
    width: 70%;
}

.content-box p {
    height: 9rem; 
    overflow: hidden;
}

.content-box-footer {
    align-self: end;
    height: 4rem; 
}