.main-recipe-container {
    flex-flow: column;
    height: fit-content;
    row-gap: 2rem;
}

.recipe-container{
    order: 2;
    width:80%;
}
.recipe-container-2{
    height: 30%;
    width: 80%;
}

.recipe-img-container {
    width: 100%;
    height: 100%;
}

.content-box{
    width: 80%;
    height: 5rem;
    column-gap: 1.5rem;
}

label {
    width: 3.3rem;
}

label i{
    font-size: 3.3rem;
}

p{
    line-height: 2.2rem;
}