.signin-screen{
    position: absolute;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    row-gap: 15px;
    top: 50%;
    left: 50%;
    height: 545px;
    width: 280px;
    padding: 20px;
}
.signin-title{
    font-size: 2em;   
}


.input-field{
    align-self: center;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: none;
    text-indent: 1em;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.616);
}

