.signin-screen {
    row-gap: 2rem; 
    height: 55rem; 
    width: 30rem; 
    padding: 2rem; 
}

.signin-title {
    font-size: 2rem;
}

.input-field {
    align-self: center;
    width: 25rem; 
    height: 3.5rem; 
    border-radius: 0.5rem; 
    border: none;
    text-indent: 1em; 
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.616); 
}
