  #btn-nav-menu {
      display: block;
      background-color: transparent;
      border: none;
      color: var(--cor4);
  }

  #btn-nav-menu:hover {
      cursor: pointer;
  }

  .header-nav>ul {
      display: none;
  }

  .header-nav-menu {
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 25px;
      background-color: var(--cor0);
      width: 35vw;
      height: 100vh;
      padding: 16px;
      animation-duration: 0.5s;
      margin-left: -100vw;
      z-index: 999;
  }

  .btn-menu-close {
      margin-top: 5px;
      padding: 5px;
      background-color: transparent;
      border: none;
      color: var(--cor4);
  }

  .btn-menu-close:hover {
      cursor: pointer;
  }

  .header-nav-menu a {
      padding: 10px;
      text-decoration: none;
      font-size: 1.5em;
      color: var(--cor4);
  }

  .header-nav-menu a:hover {
      background-color: #eb6a5042;
      border-radius: 5px;
  }


  .header-title {
      align-self: center;
      margin-right: 15%;
  }

  .main-section>h2 {
      font-size: 1.3em;
  }

  .main-section {
      width: 70%;
  }

  .search-button {
      width: 50px;
  }

  .search-field {
      width: 250px;
  }

  .content-box {
      width: 70%;
  }

  .content-box p {
      height: 90px;
      overflow: hidden;
  }

  .content-box-footer {
      align-self: end;
      height: 40px;
  }